.App {
  /* text-align: center; */
}

.text-style {
  margin-top: "5%";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  font-size: "larger";
  padding: "5%";
}

input {
  background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left
    no-repeat;
  height: 30px;
  padding-left: 25px;
}

.list-item span {
  font-weight: bold;
  font-size: 1.2rem;
}


.element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display:flex;
  justify-content:space-between;
  align-items:center; 
}
#navbar li{
  display:inline-block;
  padding-right: 60px;
  
}
#navbar a{
  text-decoration:none;
  font-size:18px;
  color: black;
}


/* responsive media queries */

@media screen and (max-width: 9999px) {
  #res-drawer {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
  #body-card {
    margin-left: 21%;
    width: 74%;
  }

  #typo-event {
    font-size: medium;
  }
}

@media screen and (max-width: 1130px) {
  #divider-v {
    margin-left: 55%;
  }
}

@media screen and (max-width: 1100px) {
  #divider-v {
    margin-left: 53%;
  }
}


@media screen and (max-width: 1075px) {
  #body-card {
    margin-left: 21%;
    width: 74%;
  }
}

@media screen and (max-width: 1070px) {
  #body-card {
    margin-left: 21%;
    width: 74%;

  }
  #typo-event {
    font-size: medium;
  }
}

@media screen and (max-width: 1035px) {
  #body-card {
    margin-left: 22%;
    width: 72%;
  }
  #table-cell {
    width: 100%
  }
  #divider-v {
    margin-left: 51%;
  }
}


@media screen and (max-width: 1010px) {
  #body-card {
    margin-left: 23%;
    width: 70%;
  }
  #table-cell {
    width: 100%
  }
  #divider-v {
    margin-left: 49%;
  }
  #typo-event {
    font-size: 80%;
  }
}


@media screen and (max-width: 990px) {
  #body-card {
    margin-left: 24%;
    width: 70%;
  }
  #table-cell {
    width: 100%
  }
  #divider-v {
    margin-left: 47%;
  }
  

  #search-icon {
    font-size: larger;
  }
}

@media screen and (max-width: 965px) {
  #body-card {
    margin-left: 25%;
    width: 68%;
  }
  #table-cell {
    width: 100%
  }
  #edit-icon {
    font-size: x-large;
  }
  #event-icon {
    font-size: x-large;
  }
  #file-icon {
    font-size: x-large;
  }


  #divider-v {
    margin-left: 45%;
  }

  #typo-event {
    font-size: 70%;
  }
}

@media screen and (max-width: 965px) {
  #divider-v {
    margin-left: 45%;
  }
}

@media screen and (max-width: 945px) {
  #divider-v {
    margin-left: 43%;
  }
}

@media screen and (max-width: 915px) {
  #divider-v {
    margin-left: 41%;
  }
}

@media screen and (max-width: 895px) {
  #body-card {
    margin-left: 27%;
    width: 68%;
  }
  #table-cell {
    width: 100%
  }

  #typo-event {
    font-size: 70%;
  }
  #divider-v {
    margin-left: 38%;
  }
}

@media screen and (max-width: 830px) {
  #divider-v {
    margin-left: 36%;
  }
}

@media screen and (max-width: 815px) {
  #divider-v {
    margin-left: 34%;
  }
}

@media screen and (max-width: 800px) {
  #body-card {
    margin-left: 29%;
    width: 64%;
  }
  #table-cell {
    width: 100%
  }
  #typo-event {
    font-size: 70%;
  }
  #divider-v {
    margin-left: 28%;
  }
}


@media screen and (max-width: 785px) {
  #body-card {
    margin-left: 30%;
    width: 63%;
  }
  #table-cell {
    width: 100%
  }
  #typo-event {
    font-size: 70%;
  }
  #divider-v {
    margin-left: 26%;
  }
}

@media screen and (max-width: 775px) {
  #body-card {
    margin-left: 30%;
    width: 62%;
  }
  #t-body {
    font-size:small;
    padding: 10%;
  }
  #table-cell {
    width: 100%;
  }
  #typo-event {
    font-size: 80%;
  }
  #divider-v {
    margin-left: 22%;
  }
}
@media screen and (max-width: 770px) {

  #body-card {
    margin-left: 30%;
    width: 67%;
  }
  #t-body {
    font-size:small;
    padding: 10%;
  }
  #table-cell {
    width: 100%;
  }
  #typo-event {
    font-size: 80%;
  }
  #divider-v {
    margin-left: 23%;
  }
  #edit-icon {
    font-size: large;
  }
  #event-icon {
    font-size: large;
  }
  #file-icon {
    font-size: large;
  }
}

@media screen and (max-width: 710px) {

  #body-card {
    margin-left: 30%;
    width: 69%;
  }
  #t-body {
    font-size:small;
    padding: 10%;
  }
  #table-cell {
    width: 100%;
  }
  #typo-event {
    font-size: 80%;
  }
  #divider-v {
    margin-left: 18%;
  }
}

@media screen and (max-width: 640px) {
  #divider-v {
    margin-left: 15%;
  }
}
@media screen and (max-width: 599px) {
  #side-bar {
    display: none;
  }
  #body-card {
    margin-left: 1%;
    width: 100%;
  }
  #typo-event {
    font-size: large;
  }
  #t-body {
    font-size:small;
    padding: 5%;
  }
  #add-icon {
    margin-left: 15%;
    position: relative;
  }
  #divider-v {
    margin-left: 10%;
  }
  #search-icon-w {
    padding-right: 100%;
  }
}

